::selection{
  background: none;
}

*{
  margin: 0;
  padding: 0;
}
body{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  background: black;
}

.wrap{
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
}

.portrait{
  height: 100vh;
  filter: drop-shadow(0px 0px 3px rgba(58, 58, 58, 0.329));
  /* transform: scale(0.9); */
  /* opacity: 0.8; */
}

video{
  cursor: url("https://img.icons8.com/ios-glyphs/30/ffffff/hand-cursor.png"), pointer;
  height: 100vh;
  align-self: center;
  position: absolute;
  opacity: 0;
  z-index: 3;
  user-select: none;
}

.eyes{
  position: absolute;
  height: 100%;
  display: flex;
  gap: 110px;
  align-items: center;
  flex-wrap: nowrap;
  z-index: -4;
}

.eye{
  display: inline-block;
  position: relative;
  filter: grayscale(1);
}


.ball{
  width: 46px;
  height: 46px;
  background: url(./eye.png) no-repeat 50% 50% /cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}


.transition{
  transition: 0.5s all;
}
